/* ------------------- Champion Card CSS -------------------- */

/* The whole card/container */
.championCard {
  transition: transform 0.15s;
  position: relative;
  width: 35vh;
  height: 47vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  background-image: radial-gradient(circle, #a87046, #cab09b, #776557);
  transform: scale(0.8);
  flex-shrink:0;

  
  margin-top: 8vh;
}

.championCard:hover {
  background: #6e5c4f;
}



/* The Champion's Name Banner */
.championName {
  position: absolute;
  width: 100%;
  top: 42%;
  background: #D4B48F;
  text-align: center;
  font-size: 3vh;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 12%;
  border-radius: 15%;
  border: 1px solid black;
  border: 2vh rgb(163, 122, 61);
}

/* The Champion's Portrait */
.championPortrait {
  position: absolute;
    top: 5px;
    left: 12%;
    width: 70%;
    height: 55%;
    border: 4px solid #968E86;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

/* The Champion's Play Cost Orb */
.championCost {
  position: absolute;
    background: #968E86;
    border: 4px solid #968E86;
    border-radius: 100%;
    bottom: -5%;
    left: -8%;
    color: white;
}

/* The Champion's Health Orb */
.championHealth {
  position: absolute;
    padding: 2.1vh 1vw;
    background: #bc3328;
    border: 4px solid #968E86;
    border-radius: 100%;
    bottom: -5vh;
    right: -3vh;
    color: white;
}


/* The Champion's Strength Orb */
.championStrength {
  position: absolute;
    border: 2px solid #968E86;
    border-radius: 100%;
    bottom: -3vh;
    right: 9vh;
    width: 6vh;
    height: 6vh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding-left: -1vh;
    background-color: #968E86;
}

/* The Champion's Weakness Orb */
.championWeakness {
  position: absolute;
    border: 2px solid #968E86;
    border-radius: 100%;
    bottom: -3vh;
    left: 9vh;
    width: 6vh;
    height: 6vh;
    background-size: cover;
    background-position: center;
    background-color: #968E86;
}


/* ----------------------Draft Champion Phase CSS------------------- */

.championContainer {
  background:
    radial-gradient(circle farthest-side at 0% 50%, rgb(207, 170, 89) 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #B71 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(rgb(207, 170, 89) 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(150deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(30deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(90deg, #B71 2%, rgb(207, 170, 89) 0, rgb(207, 170, 89) 98%, #B71 0%)0 0 rgb(207, 170, 89);
  background-size: 40px 60px;
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  display:flex;
  height: 65vh;
  width: 53vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  overflow: auto;
  flex-shrink:0;


}

/* Outer most container */
.container {
  background-image:none;
  background-color: rgb(110, 63, 0);
  height: 99.7vh;
  width:100vw;

}

.chosenChampion1 {
  height: 65vh;
  width: 20vw;
  background:
    radial-gradient(circle farthest-side at 0% 50%, rgb(207, 170, 89) 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #B71 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(rgb(207, 170, 89) 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(150deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(30deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(90deg, #B71 2%, rgb(207, 170, 89) 0, rgb(207, 170, 89) 98%, #B71 0%)0 0 rgb(207, 170, 89);
  background-size: 40px 60px;
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  border-radius: 10%;
  text-align: center;
  float: left;
  margin-right: 1vw;
  margin-left: 1vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.chosenChampion2 {
  height: 65vh;
  width: 20vw;
  background:
    radial-gradient(circle farthest-side at 0% 50%, rgb(207, 170, 89) 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #B71 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(rgb(207, 170, 89) 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(150deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(30deg, rgb(207, 170, 89) 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, rgb(207, 170, 89) 0)0 0,
    linear-gradient(90deg, #B71 2%, rgb(207, 170, 89) 0, rgb(207, 170, 89) 98%, #B71 0%)0 0 rgb(207, 170, 89);
  background-size: 40px 60px;
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  border-radius: 10%;
  text-align: center;
  float: right;
  margin-right: 1vw;
  margin-left: 1vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.chosenText {
  height: 10%;
  display: block;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.row2 {
  height: 40vh;
  margin-top: none;
  display:flex;

}

.chosenChampionCard {
  transition: transform 0.15s;
  position: relative;
  width: 35vh;
  height: 47vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  background-image: radial-gradient(circle, #a87046, #cab09b, #776557);
  display: inline-flex;
  transform: scale(0.8);

}



/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(145, 88, 4); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #807c76; 
}

::-webkit-scrollbar-corner {
  background: rgb(145, 88, 4); 
}



/* -------------------------------------------Row 1 container----------------------------------- */

.row1 {
  width:100vw;
  height:12vh;
  display:inline-block;
  margin-top:5vh;
}

/* left container */
.player2Name{
  background-image: radial-gradient(circle, rgb(207, 170, 89), #cab09b, rgb(207, 170, 89));
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  border-radius: 20%;
  height: 10vh;
  width:25%;
  text-align:center;
  position:absolute;
  left:1vw;
}

/* right container */
.player1Name{
  background-image: radial-gradient(circle, rgb(207, 170, 89), #cab09b, rgb(207, 170, 89));
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  border-radius: 20%;
  height: 10vh;
  width:25%;
  text-align:center;
  position:absolute;
  right:1vw;
}

.championHeader {
  text-align: center;
  background-image: radial-gradient(circle, rgb(207, 170, 89), #cab09b, rgb(207, 170, 89));
  border: 1vh rgb(163, 122, 61);
  border-style: outset;
  border-radius: 20%;
  width:33%;
  height: 10vh;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

}

.headerText {
  line-height: 60%;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 200%;
}